* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  padding: 20px;
  background: #f5f5f5;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, max-content));
  gap: 20px;
  margin-top: 20px;
  justify-content: start;
}

.book-card {
  position: relative;
  background: white;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.book-card img {
  width: 130px;
  height: 200px;
  object-fit: fill;
  border-radius: 4px;
}

.book-card div {
  width: 130px;
  height: 200px;
  background: #9575cd;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #000000;
  overflow: hidden;
  padding: 12px;
  text-align: center;
  font-weight: 600;
}

.book-card h3 {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  flex-grow: 0;
}

.book-card p {
  font-size: 12px;
  color: #666;
  margin-top: 4px;
  margin-top: auto;
}

.delete-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.star-rating {
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.status-select {
  margin-top: 8px;
}

.active-filter {
  background-color: #842029;
}

/* Style based on selected value */
.book-card[data-status="tbr"] {
  background-color: #fff3cd;
  color: #6b5104;
}

.book-card[data-status="reading"] {
  background-color: #cfe2ff;
  color: #084298;
}

.book-card[data-status="read"] {
  background-color: #d1e7dd;
  color: #0f5132;
}

.book-card[data-status="dnf"] {
  background-color: #f8d7da;
  color: #842029;
}

/* Style based on lend state */

.lent img {
  filter: grayscale(1);
  opacity: 0.3;
}

.lent h3 {
  color: #000000;
  opacity: 0.5;
}

.book-card.lent {
  background-color: #a3a3a35e;
}
